#! /bin/bash

# Django
export HOSTS='OPTIONAL'
export SECRET_KEY='REQUIRED'

# PostgreSQL
export POSTGRES_DB='REQUIRED'
export POSTGRES_HOST='REQUIRED'
export POSTGRES_USER='REQUIRED'
export POSTGRES_PASSWORD='REQUIRED'
export POSTGRES_PORT='OPTIONAL. Default: 5432'
